.page__work {
   background: #F2F2F2;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
}

.page__work-heading {
   font-size: 50px;
   line-height: 63px;
   text-align: center;
   letter-spacing: 1.30425px;
   font-weight: normal;
   color: #3F3F3F;
   margin-top: 5%;

}

.page__work-option-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 6%;
}

.page__work-option {
   width: 15%;
   /* border: 1px solid red; */
}

.work-option__image {
   width: 100%;
}

.work-option__image-heart {
   margin-left: 7%;
}

.work-option__image-text {
   width: 83%;
   margin-left: 25px;
}

.work-option__text {
   margin-top: 7%;
   font-style: normal;
   font-weight: 600;
   font-size: 30px;
   line-height: 38px;
   text-align: center;
   letter-spacing: 0.782547px;
   color: #3F3F3F;
   width: 140%;
   margin-left: -20%;
   /* border: 1px solid blue; */
}

.page__work-button-wrapper {
   display: flex;
   width: 35%;
   justify-content: space-between;
   margin-top: 3%;
}

.page__work-button {
   margin-top: 8%;
   width: 225px;
   height: 80px;
   color: #333333;
   font-size: 25px;
   line-height: 31px;
   text-align: center;
   letter-spacing: 0.652123px;
   padding-left: 50px;
   border: 2px solid #3E3E3E;
   background: transparent;
   border-radius: 12px;
   cursor: pointer;
   box-shadow: 10px 10px 26px #dadada,
      -10px -10px 26px #ffffff,
      inset -5px -5px 13px #dadada,
      inset 5px 5px 13px #ffffff;


   transition: 0.3s;
}

.page__work-button:active {
   transform: scale(0.98);
   box-shadow: 5px 5px 10px #dadada,
      -5px -5px 10px #ffffff,
      inset 5px 5px 10px #dadada,
      inset -5px -5px 10px #ffffff;
}

.page__work-button-apple {
   border-radius: 100px;
}

.work-button__image {
   width: 40px;
   position: absolute;
   margin: -7px 0 0 -48px;
}